.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.pyc
*.jpg
*.json
*.npy
preserved_structure/python/.ipynb_checkpoints
preserved_structure/data/all_basiclevel.csv
preserved_structure/tex_out
*.log
*.gz